
{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block message %}
<form>
    <div class=mb-3>
        &ensp;<lable class="form-label">您的登入信箱:</lable></br>
        &ensp;<input type="text" placeholder="請輸入信箱" id="email">
    </div>
    <div class=mb-3>
        &ensp;<lable class="form-label">您的登入密碼:</lable></br>
        &ensp;<input type="password" placeholder="請輸入密碼" id="password">
    </div>
    <div class=mb-3>
        &ensp;<button type="button" onclick="cookie123()">登入</button>
    </div>
    <div class=mb-3>
        <p>&ensp;還沒註冊嗎?&ensp;&ensp;<button type="button" onclick="location.href='./register'">註冊</button></p>
    </div>
</form>
<script>
    function cookie123() {
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        if(email.value===password.value) {
            document.cookie = 'login='+email.value;
            document.location.href = "./user/"+email.value;
        }
        else {
            document.cookie = 'login=fail';
            alert("login fail")
        }
        return 0;
    }
</script>
{% endblock message %}