{% extends 'base.html' %}

{% block title %}
登入會員
{% endblock title %}
{% block message %}
<form action="{{url_for('login')}}" method="POST">
    <div class=mb-3>
        &ensp;<lable class="form-label">您的登入信箱:</lable></br>
        &ensp;<input type="text" name="mailbar" placeholder="請輸入信箱" id="email">
    </div>
    <div class=mb-3>
        &ensp;<lable class="form-label">您的登入密碼:</lable></br>
        &ensp;<input type="password" name="pwbar" placeholder="請輸入密碼" id="password">
    </div>
    <div class=mb-3>
        &ensp;<input type="submit" class="btn btn-primary" value="登入">
    </div>
</form>
<div class=mb-3>
    <p>&ensp;還沒註冊嗎?&ensp;&ensp;<button type="button" onclick="location.href='./register'">註冊</button></p>
</div>
{% endblock message %}